<div class="service-section px-12 py-4">
  <h3 class="text-4xl text-center head_txt">What I Do</h3>
<div class="service-main flex gap-7">
<div class="serviceshow-bx">
  <i class="fa-solid fa-code"></i>
  <h5 >Web Design</h5>
  <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed </p>
</div>
<div class="serviceshow-bx">
  <i class="fa-solid fa-globe"></i>
  <h5 >Web Devolepment</h5>
  <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed </p>
</div>
<div class="serviceshow-bx">
  <i class="fa-brands fa-uikit"></i>
  <h5 >UI Design</h5>
  <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed </p>
</div>
<div class="serviceshow-bx">
  <i class="fa-brands fa-uikit"></i>
  <h5 >Graphic Design</h5>
  <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed </p>
</div>

</div>
<div class="service-main flex gap-7  mt-4">
  <div class="serviceshow-bx">
    <i class="fa-solid fa-code"></i>
    <h5 >Web Design</h5>
    <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed </p>
  </div>
  <div class="serviceshow-bx">
    <i class="fa-solid fa-globe"></i>
    <h5 >Web Devolepment</h5>
    <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed </p>
  </div>
  <div class="serviceshow-bx">
    <i class="fa-brands fa-uikit"></i>
    <h5 >UI Design</h5>
    <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed </p>
  </div>
  <div class="serviceshow-bx">
    <i class="fa-brands fa-uikit"></i>
    <h5 >Graphic Design</h5>
    <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed </p>
  </div>

  </div>

</div>
