<section class="main-footer  px-8">

  <footer class="flex justify-between container">
  <div class="">
  <img src="../../../assets/images/dummylogo-white.svg" alt="#">
  <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor
     incididuntut consec tetur adipisicing elit,Lorem ipsum dolor sit amet.
  </p>
  <h3 class="mt-4">Follow Me</h3>
  <div class="flex gap-4 socilal-icons mt-4">
    <a href="" alt="">
      <i class="fa-brands fa-facebook-f"></i>
    </a>
    <a href="" alt="">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="" alt="">
      <i class="fa-brands fa-twitter"></i>
    </a>
  </div>
  </div>
  <div>
    <h3 class="mb-4">Useful Links</h3>
    <ul class="flex flex-col gap-y-3">
      <li><a  href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Service</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </div>
  <div>
    <h3 class="mb-4">Subscribe</h3>
    <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
    <div class="form-group footsubscribe_inpbx mt-4">
      <input type="email" class="" placeholder="Email Address">
      <i class="fa-regular fa-paper-plane"></i>
    </div>
  </div>
  </footer>

</section>
